extends layout

block content

  .container
        a.btn.btn-default.fas.fa-arrow-left(href='/cms/races/'+raceId)
        h1 Places

        form(method='GET', action='/cms/races/'+raceId+'/places')
          .row
            .col-lg-6
              .input-group
                input.form-control(type='text', placeholder='Search for...(for example, a name or address)', name='query')
                span.input-group-btn
                  button.btn.btn-default(type='submit') Search!
        
        h5 or

        form(method='GET', action='/cms/races/'+raceId+'/places')
          .row
            .col-lg-6
                .input-group
                  input.form-control(name='longitude', type='text', placeholder='Longitude')
                  input.form-control(name='latitude', type='text', placeholder='Latitude')
                  input.form-control(name='radius', type='text', placeholder='Radius(m)')
                  button.btn.btn-default(type='submit') Search!    

        if nextPageToken
              a.btn.btn-default.fas.fa-arrow-right(href='/cms/races/'+raceId+'/places?nextPageToken='+nextPageToken)

        form(method='POST', action='/cms/races/'+raceId+'/places')

          table.table.table-striped
            thead
              tr
                th(scope='col')
                th(scope='col') ID
                th(scope='col') Name
                th(scope='col') Adress
            tbody
              each place in places
                tr
                  td
                    input(type="checkbox", name="places[]", value=place.place_id)
                  th(scope='row') #{place.place_id}
                  td #{place.name}
                  td 
                    if place.formatted_address
                      | #{place.formatted_address}
                    else
                      | #{place.vicinity}
                  td
            
          button.btn.btn-primary(type='submit') Add
        