extends layout

block content
    
    .container
      a.btn.btn-default.fas.fa-arrow-left(href='/')
      h1
        span.fa.fa-anchor
        |  Profile Page
      a.btn.btn-default.btn-sm(href='/logout') Logout
      .row
        // LOCAL INFORMATION
        .col-sm-6
          .well
            h3.text.primary
              span.fa.fa-user
              |  Local
            p
              strong id
              | : #{user._id}
              br
              strong email
              if user.local
                | : #{user.local.email}
              br
              strong password
              if user.local
                | : #{user.local.password}

        .col-sm-6
            .well
                h3.text-primary
                    span.fab.fa-facebook-f
                    |  Facebook
                p
                    strong id
                    | : #{user.facebook.id}
                    br
                    strong token
                    | : #{user.facebook.token}
                    br
                    strong email
                    | : #{user.facebook.email}
                    br
                    strong name
                    | : #{user.facebook.name}