extends layout

block content

  .container
        h1 Races
        if message.length > 0
          .alert.alert-success #{message}
        each error in errorMessage
          .alert.alert-danger #{error.message}    
        div #{user._id}
        ul
          each race in races
            li= race.Name

        button.btn.btn-link.fas.fa-plus(type='button', data-toggle='modal', data-target='#exampleModal', data-whatever='@mdo') 
        .modal.fade(id='exampleModal', tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              form(method='POST')
                .modal-header
                  h5#exampleModalLabel.modal-title New Race
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    .form-group
                      label.col-form-label(for='Name') Name:  
                      a.tooltip-test.fas.fa-info-circle(href='#', title='Name of the race')
                      input#recipient-name.form-control(type='text', name="Name", value=name)
                    .form-group
                      label.col-form-label(for='Secret') Secret:
                      a.tooltip-test.fas.fa-info-circle(href='#', title='Secret is used to participate in the event')
                      input#recipient-name.form-control(type='text', name="Secret", value=secret)
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                  button.btn.btn-primary(type='submit') Add