extends layout

block content
  
  .container
        if successMessage.length > 0
          .alert.alert-success.alert-dismissible(role='alert')
            span.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
            | #{successMessage}  

        each error in errorMessage
            .alert.alert-danger.alert-dismissible(role='alert')
                span.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') ×
                | #{error.message}

        form(method='POST', action='/cms/races/'+race._id+'/update')
            
            input#recipient-name.form-control(type='hidden', name="_id", value=race._id)
            .form-group
                label(for='Name') Name:  
                a.tooltip-test.fas.fa-info-circle(href='#', title='Name of the race')
                input#recipient-name.form-control(type='text', name="Name", placeholder="Name", value=race.Name)
            .form-group
                label(for='Secret') Secret:
                a.tooltip-test.fas.fa-info-circle(href='#', title='Secret is used to participate in the event')
                input#recipient-name.form-control(type='text', name="Secret", placeholder="Secret", value=race.Secret)
            .form-group
                label(for='Started') Started:
                input(type='checkbox', name="Started", checked=race.Started)    
            
            button.btn.btn-primary(type='submit') Save changes

            h5
                b Owners:

            table.table.table-striped(name='Owners')
                thead
                    tr
                    th(scope='col') ID
                    th(scope='col') Email
                    th(scope='col') Facebook
                    th(scope='col') Role
                tbody
                    each user in race.Owners
                        tr
                            td #{user._id}
                            if user.local
                                td #{user.local.email}
                            else if user.facebook
                                td #{user.facebook.email}
                            if user.facebook        
                                td #{user.facebook.name}
                            else
                                td not connected
                            td #{user.role}

            h5
                b Places:

            table.table.table-striped(name='Places')
                thead
                    tr
                    th(scope='col')
                    th(scope='col') ID
                    th(scope='col') Name
                    th(scope='col') Address
                tbody
                    each place in race.Places
                        tr
                            td 
                                input(type='checkbox', name="Places[]", value=place.place_id, checked)
                            th(scope='row') #{place.place_id}
                            td #{place.name}
                            td #{place.vicinity}
                            td
            
            
                

            a.btn.btn-success.fas.fa-plus(href='/cms/races/'+race._id+'/places')
            

